.user-input__right .cards .card:first-child {
  scale: 1.09;
}
.user-input__right .cards .card:last-child {
  scale: 0.9;
}
.user-input__right .cards .card p:first-child {
  color: white;
  font-size: 2.5rem;
  letter-spacing: 1px;
}
.user-input__left .whom-first label:nth-of-type(2),
.user-input__left .whom-first input {
  margin-left: 1rem;
}
